* {
    margin: 1000;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #02040a 0%, #000308 40%, #000000 100%);
}
.aurora {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 50% 75%, rgba(0,120,180,0.25), rgba(140,0,255,0.18), transparent 70%);
    filter: blur(150px);
    animation: auroraMove 12s ease-in-out infinite alternate;
    z-index: -8;
}
.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-radial-gradient(circle, rgba(255,255,255,0.25) 0 2px, transparent 3px 40px);
    animation: floatParticles 18s linear infinite;
    z-index: -4;
    opacity: 0.08; 
}
.clock-box {
    padding: 25px 60px;
    border-radius: 18px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 20px #0086a6aa;

    text-align: center;
    animation: neonPulse 5s infinite ease-in-out;
}
@keyframes neonPulse {
    0% {
        box-shadow: 0 0 20px #00c2ff69;
    }
    100% {
        box-shadow: 0 0 60px #00c2ffaa;
    }
}
#time {
    font-size: 70px;
    font-weight: 700;
    color: #00eaff;
    text-shadow: 0 0 12px #00eaff, 0 0 28px #00eaffaa;
}
#date {
    font-size: 28px;
    color: #00eaff;
    margin-top: 15px;
    text-shadow: 0 0 12px #00eaffaa;
}
button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    background: #00eaff;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #0094a3;
}
